@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.player img{
    Width :56px;
    Height :  56px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
    margin-bottom: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.palyer-name{
    margin-left: 16px;
}
.section-title{
margin-top: 3px;
color: #562EFF;
font-size: 24px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom:30px ;
}
.blogs .thumnail img{
    width: 224px;
height: 127px;
}
.blog{
    display: flex;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog-info{
    margin-left: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
span{
    color: #9F9F9F;
}
.courses .course-banner img{
    width: 266px;
height: 141px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-end:24px  ;
   
}
.course-text{
    font-weight: 500;
font-size: 20.0336px;
color: #1E1E1E;
}
.author-name a{
    color: #ED6B4F;
    font-size: 14.6913px;
    text-decoration: none;
}
.filled{
    color:#FFC014; ;

}
.empty{
    color:#AEAEAE;
   
    opacity: 0.25;
}
.course-duration{
    color: 
    #FF4A60;
    border: 1px solid gray;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
}
.course{
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    
}
.course-space{
    margin-left: 35px;
}